@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
	margin: 0;padding: 0;
	font-family: 'Comfortaa', 'Segoe UI', sans-serif;
}
body {
	width: 90%;
	max-width: 800px;
	margin: 100px auto;
	background: #f0f0f0;
}
hr {
	margin: 50px 0;
}
h3 {
	padding: 10px 0;
	color: #333;
	text-align: center;
}
